
Operacje_na_plikach/.vs/Operacje_na_plikach/v15/.suo
Operacje_na_plikach/.vs/Operacje_na_plikach/v15/Server/sqlite3/db.lock
Operacje_na_plikach/.vs/Operacje_na_plikach/v15/Server/sqlite3/storage.ide-shm
Operacje_na_plikach/.vs/Operacje_na_plikach/v15/Server/sqlite3/storage.ide
Operacje_na_plikach/.vs/Operacje_na_plikach/v15/Server/sqlite3/storage.ide-wal
